.header {
  padding: 20px 0;
  background-color: #FFEBE7;
  position: relative;
  z-index: 10;

  @include media-breakpoint-up(xl) {
    padding: 40px 0;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    max-width: 150px;
    @include media-breakpoint-up(xl) {
      max-width: 250px;
    }
    &_image {
      max-width: 100%;
      display: block;
    }
  }

  &__nav {
    display: none;
    @include media-breakpoint-up(xl) {
      display: block;
    }
    &_list {
      display: flex;
      align-items: center;
      &_item {
        margin: 0 40px;
        font-size: 22px;
        &_link {
          transition: all 0.2s ease-out;
          &:hover {
            color: $gray;
          }
        }
      }
    }
  }
}


