.main_section {
  height: 300px;
  //background-image: url("img/main_bg.svg");
  //background-size: cover;
  //background-repeat: no-repeat;
  background-color: #7c0dbc33;
  margin-bottom: 140px;
  position: relative;
  //top: -1px;
  //overflow: hidden;

  @include media-breakpoint-up(xl) {
    height: 750px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    //position: relative;
    &_text {
      padding: 30px 0 0;
      max-width: 100%;
      @include media-breakpoint-up(xl) {
        max-width: 50%;
        padding: 150px 0 0;
      }
    }

    &_image {
      width: 100%;
      display: block;
      &_block {

        //overflow: hidden;
        //background-color: #ffffff;
        //padding: 15px;
        position: absolute;
        bottom: 0;
        right: 10%;
        @include media-breakpoint-up(xl) {
          max-width: 400px;
        }
        @include media-breakpoint-up(xxl) {
          max-width: 500px;
        }

        //box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
      }
      &_bg {
        &_first {
          position: absolute;
          top: 160px;
          left: -150px;
          width: 300px;
          height: 100px;
          border-radius: 20px;
          background: rgba(255, 255, 255, 0.5);
          backdrop-filter: blur(10px);
          padding: 10px 20px;
          display: flex;
          align-items: center;

          &_content {
            display: flex;
            align-items: center;

            &_image {
              margin-right: 20px;
            }

            &_text {
              margin: 5px 0;
              font-size: 14px;
              font-weight: 700;
              color: #545567;
            }
          }
        }

        &_second {
          position: absolute;
          top: 340px;
          right: -150px;
          border-radius: 20px;
          background: rgba(255, 255, 255, 0.5);
          backdrop-filter: blur(10px);
          width: 300px;
          height: 110px;
          padding: 10px 20px;
          display: flex;
          align-items: center;

          &_icon {
            position: absolute;
            right: 25px;
            top: 20px;
          }

          &_content {
            display: flex;
            align-items: center;

            &_image {
              margin-right: 20px;
            }

            &_text {
              margin: 5px 0;
              font-size: 16px;
              font-weight: 700;
              color: #545567;
              &_block {

              }
            }
          }

        }

        &_third {
          position: absolute;
          bottom: 100px;
          left: -140px;
          border-radius: 20px;
          background: rgba(255, 255, 255, 0.5);
          backdrop-filter: blur(10px);
          width: 300px;
          height: 157px;
          padding: 10px 20px;
          display: flex;
          align-items: center;

          &_content {
            display: flex;
            align-items: center;
            justify-content: center;

            &_image {
              margin-right: 20px;
            }

            &_text {
              margin: 5px 0;
              font-size: 16px;
              font-weight: 700;
              color: #545567;
              &_block {

              }
            }
          }
        }
      }
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    color: $brand-primary;
    margin-bottom: 14px;
    @include media-breakpoint-up(xl) {
      font-size: 54px;
      margin-bottom: 34px;
    }
  }

  &__description {
    color: #464646;
    font-family: $font-secondary;
    font-size: 16px;
    line-height: 160%;
    max-width: 80%;
    margin-bottom: 0;
    @include media-breakpoint-up(xl) {
      font-size: 24px;
    }

    &:nth-child(4) {
      margin-bottom: 22px;
      @include media-breakpoint-up(xl) {
        margin-bottom: 52px;
      }
    }
  }

  &__languages {
    position: fixed;
    right: -10px;
    bottom: 40px;
    transform: rotate(90deg);
    align-items: center;
    display: none;
    @include media-breakpoint-up(xl) {
      display: flex;
      right: 20px;
      bottom: 100px;
    }
  }

  &__language {
    font-size: 20px;
    margin: 0 10px;
    text-transform: uppercase;
  }
}