.reviews {
  margin-bottom: 80px;
  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include media-breakpoint-up(xl) {
      flex-direction: row;
    }
  }

  &__text {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
    @include media-breakpoint-up(xl) {
      flex: 0 0 45%;
      max-width: 45%;
      margin-bottom: 0;
    }

    &_title {
      color: $brand-primary;
      font-family: $font-secondary;
      font-size: 60px;
      font-weight: 700;
      margin-bottom: 29px;
    }

    &_description {
      color: $gray;
      font-family: $font-main;
      font-size: 26px;
      line-height: 160%;
      letter-spacing: 0.52px;
      margin-bottom: 26px;
    }
  }

  &__slider {
    flex: 0 0 100%;
    max-width: 100%;
    @include media-breakpoint-up(xl) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  &__link {
    background: none;
    border-top: 1px solid $brand-secondary;
    border-left: 1px solid $brand-secondary;
    border-bottom: 1px solid $brand-secondary;
    color: $brand-secondary;
    max-width: 400px;
    font-size: 20px;
    position: relative;
    justify-content: start;
    padding-left: 50px;
    margin-top: 40px;
    &:hover {
       background: #FFEBE7;
    }

    &:after {
      content: "";
      background-image: url("img/arrow_right_in_cycle.svg");
      width: 80px;
      height: 80px;
      position: absolute;
      right: 0;
    }
  }
}