.service_card {
  overflow: hidden;
  position: relative;
  margin: 0 auto 30px;
  border-radius: 20px;
  transition: all 0.2s ease-out;
  //transition: transform 0.2s;
  //
  //&:hover {
  //  transform: translateY(-10px);
  //}

  @include media-breakpoint-up(xl) {
    margin: 0;

    max-width: 450px;
    max-height: 360px;
  }

  &:hover {
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
  }

  &.first {
    grid-area: first;
  }
  &.second {
    grid-area: second;
  }
  &.third {
    grid-area: third;
  }
  &.four {
    grid-area: four;
  }
  &.five {
    grid-area: five;
  }

  &__image {
    display: block;
    max-width: 100%;
    position: relative;
    top: -150px;
    //opacity: 0.4;
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 10px 20px;
    background: rgba(247, 248, 250, 0.7);
    backdrop-filter: blur(20px);
  }

  &__title {
    color: #121212;
    text-align: center;
    font-family: $font-main;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
    @include media-breakpoint-up(xl) {
      font-size: 20px;
      min-height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__button {
    margin: 0 auto;
    background: none;
    //border: 1px solid #121212;
    font-size: 14px;
    max-width: 250px;
    color: #121212;
    @include media-breakpoint-up(xl) {
      font-size: 18px;
      height: 50px;
    }

    &:hover {
      background: none;
      color: $brand-secondary;
      //border: none;
    }
  }
}