.services {
  margin-bottom: 40px;
  @include media-breakpoint-up(xl) {
    margin-bottom: 100px;
  }
  &__content {

  }

  &__title {
    margin-bottom: 20px;
  }

  &__description {
    color: #696984;
    text-align: center;
    font-family: $font-main;
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.48px;
    max-width: 85%;
    margin: 0 auto 40px;
    @include media-breakpoint-up(xl) {
      font-size: 24px;
      margin: 0 auto 80px;
    }
  }

  &__grid {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-up(xl) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 50px 50px;
      grid-template-areas:
        "first first second second third third"
        ". four four five five .";
      justify-content: center;
      justify-items: center;
    }
  }
}
