$brand-primary: #2F327D;
$brand-primary-light: #4d4e9f;
$brand-primary-dark: #252641;
$brand-secondary: #FF7A59;
$brand-secondary-light: #ff9176;
$gray: #696984;

$font-main: 'Poppins', sans-serif;
$font-secondary: 'Nunito Sans', sans-serif;